  <div>
  <FullCalendar
    ref="fullcalendarGrid"
    :plugins="calendarPlugins"
    :default-view="calendarType"
    nowIndicator="true"
    timeZone="en-GB"
    locale  ="uk"
    slotWidth="80"
    :header="{      
                    left: 'prev,next, today',
                    center: 'title',
                    right: 'resourceTimelineDay,resourceTimelineWeek'
                  }"
    :slotLabelFormat="{
                    hour: '2-digit',
                    minute: '2-digit'
                  }"
    :titleFormat="{
                  month: 'long',
                  year: 'numeric',
                  day: 'numeric',
                  weekday: 'long'
                  }"
    :eventTimeFormat="{
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    meridiem: false
    }"
    selectable="true"
    :displayEventTime="false"
    :resources="workplaces"
    :events="events"
    :allDaySlot="false"
    :eventClick="true"
    :eventRender="eventRender"
    :editable = "true"
    minTime="09:00:00"
    maxTime="21:00:00"
    @eventClick="eventClick"
    @select="eventClick"
    @eventDrop="updateEvent"
    @eventResize="updateEvent"
    
  />
  <!-- <v-tooltip ref="refpopovergrid" :target="tooltip.target" :key="tooltip.key" triggers="hover" placement="bottom" >
        <div v-html="tooltip.content"> </div>
        </v-tooltip> -->
        <div id="foremptygrid"> </div>

      </div>