<div>
<FullCalendar
      ref="fullcalendar"
      :plugins="calendarPlugins"
      :defaultView="calendarType"
      resourceLabelText=" "
      nowIndicator="true"
      timeZone="en-GB"
      locale  ="uk"
      slotWidth="80"
      :header="{      
                      left: 'prev,next, today',
                      center: 'title',
                      right: 'resourceTimelineDay,resourceTimelineWeek'
                    }"

      selectable="true"
      :slotLabelFormat="{
          hour: '2-digit',
          minute: '2-digit',
       
          
        }"
      columnFormat= "ddd D"
      :titleFormat="{
      month: 'long',
      year: 'numeric',
      day: 'numeric',
      weekday: 'long'
      }"
      :eventTimeFormat="{
                      hour: '2-digit',
                      minute: '2-digit',
                      second: '2-digit',
                      meridiem: false
                    }"
        :weekNumbersWithinDays= "true"
      :resources="workplaces"
      :events="events"
      :allDay="true"
      :eventClick="true"
      :eventRender="eventRender"
      :editable = "true"
      minTime="09:00:00"
      maxTime="21:00:00"
      @eventClick="eventClick"
      @select="eventClick"
      @eventDrop="updateEvent"
      @eventResize="updateEvent"
      
    />
  
    <!--<v-tooltip ref="refpopover" :target="tooltip.target" :key="tooltip.key" triggers="hover" placement="bottom" >
    <div v-html="tooltip.content"> </div>
    </v-tooltip> -->
    <div id="forempty"> </div>
  </div>