.fc-license-message {
    display: none;
  }
  .fc-timeline-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
    border: 2px solid;
  }
  .fc-resource-area.fc-widget-header {
    width: 150px !important;
  }
  .fc-cell-content {
    text-align: center;
  }
  
  .fc-divider.fc-col-resizer.fc-widget-header {
    height: auto;
  }
  .fc-scroller {
    height: auto !important;
  }
  .fc-timeline .fc-cell-text {
    color: rgb(117, 116, 116);
    padding-right: 2px;
    font-size: 0.9em;
  }
  .fc-button-primary {
    color: #fff;
    background-color: #42b983 !important;
    border-color: #42b983 !important;
  }
  
  .fc-button-primary:focus {
    border-bottom-width: 2px;
    background: hsla(0, 0%, 100%, 0.15);
    color: white;
    box-shadow: none;
  }
  
  .fc-button-primary:not(:disabled):active:focus,
  .fc-button-primary:not(:disabled).fc-button-active:focus {
    box-shadow: none;
  }
  .fc-toolbar.fc-header-toolbar {
    height: 50px;
    padding: 0 15px;
  }
  .fc-resourceTimelineDay-button {
    margin-right: 1px;
  }
  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em;
  }
  
  .fc-button-primary:hover {
    border: 1px solid white !important;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  
  /*.fc-timeline-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
    height: 75% !important; 
  }*/
  
  .fc-resourceTimelineDay-button,
  .fc-resourceTimelineWeek-button {
    padding: 0.3em 1em;
    height: 2.2em;
    font-size: 1.2em;
  }
  .fc-highlight {
    background: #038eaa;
    opacity: 0.3;
  }
  .fc-center {
    display: flex;
    justify-content: center;
  }
  .fc-toolbar.fc-header-toolbar .fc-center h2 {
    font-size: 1.4em;
    line-height: 1.3;
    font-weight: 400;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .fc-toolbar.fc-header-toolbar {
    background-color: #42b983;
  }
  
  .fc-time {
    position: relative;
  }
  .fc-title {
    font-weight: bold;
    position: absolute;
    text-align: center;
    color:#373838;
    width: 100%;
   
    height: 100%;
  }
  .fc-event .fc-content {
  
    height: 100%;
    width: 100%;
  }
  
  .fc-button-primary:focus {
    box-shadow: none;
  }
  
  .fc-toolbar.fc-header-toolbar .fc-center h2 {
    font-size: 1.4em !important;
  }
  @media screen and (max-width: 600px) {
    .fc-toolbar.fc-header-toolbar {
      padding: 0;
    }
    body .fc {
      font-size: 0.7em;
    }
  
    .fc-toolbar > * > :not(:first-child) {
      margin-left: 1em;
    }
  }
  
  
  
  .fc-timeline-event{
    height: 30px;
  }
  
  .fc-event-container {
     padding:0px!important;
     top: 0px; 
  }
  
  .fc-today {
    background: transparent !important; /* hack. because demo will always start out on current day */
  }
  